.page-section {
	padding: 1.2rem 0;

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--theme {
		background-color: $mainDarkTeal;
		color: #FFF;
	}

	&--testimonials {
		background-color: #dbedeb;

		@mixin atLarge {
			background: url('../../../assets/images/testimonial-bg.jpg') center top no-repeat;
			background-size: cover;
		}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}
}
