.row {
	@mixin clearfix;

	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	@mixin atMedium {
		&__medium-6 {
			float: left;
			width: 50%;
		}
	}
}
