.section-title {
	font-size: 2rem;
	font-weight: 300;
	text-align: center;

	@mixin atSmall {
		font-size: 3.25rem;
	}

	&--thin {
		font-weight: 200;
	}

	&--teal {
		color: $themeColor;
	}

	&--orange {
		color: $mainOrange;
	}

	&--small {
		font-size: 1.2rem;

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}

	&--b-margin-small {
		margin-bottom: .5rem;
	}

	&--b-margin-large {
		margin-bottom: 1.5rem;
	}
}
